.back1 {
	-fx-background-color: #FFEBEE;
}

.back2 {
	-fx-background-color: #EF9A9A;
}

.back3 {
	-fx-background-color: #F44336;
}

.back4 {
	-fx-background-color: #B71C1C;
}

.text1 {
	-fx-text-fill: #FFEBEE;
	-fx-fill: #FFEBEE;
}

.text2 {
	-fx-text-fill: #EF9A9A;
	-fx-fill: #EF9A9A;
}

.text3 {
	-fx-text-fill: #F44336;
	-fx-fill: #F44336;
}

.text4 {
	-fx-text-fill: #B71C1C;
	-fx-fill: #B71C1C;
}