.Back1 {
	-fx-background-color: rgb(33,33,33);	
}

.Back2 {
	-fx-background-color: rgb(192,192,192);	
}

.Back3 {
	-fx-background-color: rgb(234,234,234);	
}

.Text1 {
	-fx-text-fill: rgb(234,234,234);
	-fx-fill: rgb(234,234,234);
}

.Text2 {
	-fx-text-fill: rgb(192,192,192);
	-fx-fill: rgb(192,192,192);
}

.Text3 {
	-fx-text-fill: rgb(33,33,33);
	-fx-fill: rgb(33,33,33);
}
